p{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;  
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form{
    outline-style: solid;
    outline-color: white;
    outline-width: 1px;
    width: 400px;
    height: 440px;
    background-color: seagreen;
}

.login-head{
    text-align: center;
    font-family: "Concert One";
    color: white;
    font-size: 55px;
    margin-top: 5px;
}

.email{
    text-align: left;
    font-family: "Concert One";
    color: white;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.email-icon{
  position: absolute;
  right: 470px;
  transform: translateY(-128%);
  padding-left: 5px;
}

.emailbox{
  align-items: center;
  width: 380px;
  height: 35px;
  margin-left: 7px;
  border: none;
  border-radius: 15px;
  margin-top: 10px;
}

.password{
    text-align: left;
    font-family: "Concert One";
    color: white;
    font-size: 25px;
    margin-top: 30px;
}

.passwordbox{
  align-items: center;
  width: 380px;
  height: 35px;
  margin-left: 7px;
  border: none;
  border-radius: 15px;
  margin-top: 10px;
}

.password-icon{
  position: absolute;
  right: 470px;
  transform: translateY(-128%);
  padding-left: 5px;
}

.forgotpassword{
  margin-top: 30px;
  align-items: center;
}